{% extends 'base.html' %}

{% block content %}

    <center>
        <h1>PELUANG SUATU KEJADIAN</h1>
        <h2>Materi</h2>
    </center>
    <h3>2.1. Peluang Suatu Kejadian</h3>
    <center>
    <img src="https://www.pngmart.com/files/7/Gold-Coin-PNG-Image.png", width="25%">
    </center>
    <p align="justify">Kejadian adalah himpunan bagian dari ruang sampel, sedangkan titik sampel adalah setiap hasil yang mungkin terjadi pada suatu percobaan . Jika A adalah suatu kejadian yang terjadi pada suatu percobaan dengan ruang sampel S, di mana setiap titik sampelnya mempunyai kemungkinan sama untuk muncul, maka peluang dari suatu kejadian A ditulis sebagai berikut.</p>
    <center>
    <img src="https://1.bp.blogspot.com/-RQ8bfNidQew/XMVxkI5ESNI/AAAAAAAABJg/DjbgPxHjovAP_cW2A-zFf4EJbNsjSlHawCLcBGAs/s1600/peluang1.PNG", width="25%">
    </center>
    <p align="justify">Misal, dalam seperangkat kartu remi terdapat 13 kartu merah bergambar hati, 13 kartu merah bergambar diamond, 13 kartu hitam bergambar wajik, dan 13 kartu hitam bergambar kriting. Sebuah kartu diambil secara acak dari seperangkat kartu tersebut. Misalkan, kartu yang terambil bergambar hati. Kejadian muncul kartu bergambar hati pada pengambilan tersebut dinamakan kejadian sederhana karena muncul kartu bergambar hati pasti berwarna merah. Lain halnya jika kartu yang terambil berwarna merah. Kejadian muncul kartu berwarna merah dinamakan kejadian bukan sederhana karena muncul kartu berwarna merah belum tentu bergambar hati, tetapi mungkin bergambar diamond.</p>
    <p align="justify">Contoh :
        Lutfi memiliki 2 buah koin. Koin tersebut memiliki 2 sisi yaitu angka dan gambar. Lutfi melempar kedua koin tersebut secara bersamaan. Berapa peluang muncul angka pada kedua koin? 
        </p>
    <p>Jawab :</p>
    <p>Ruang sampel = { (A,G), (A,A), (G,A), (G,G)}</p>
    <p>n( s) 	= 4</p>
    <p>banyaknya titik sampel kedua koin muncul angka yaitu :</p>
    <p>n (A) 	= 1</p>
    <p>P(A)  =  n(A)/n(S)</p> 
    <p>P(A)  =  1/4</p>
    <p>Jadi, peluang kedua koin muncul angka adalah 1/4.</p>
    <iframe src="https://www.geogebra.org/classic/upwcsqux?embed" width="800" height="600" allowfullscreen style="border: 1px solid #e4e4e4;border-radius: 4px;" frameborder="0"></iframe>
    <h3>2.2. Ruang Sampel</h3>
    <p align="justify">Percobaan adalah suatu tindakan atau kegiatan yang dapat diulang dengan keadaan yang sama untuk memperoleh hasil tertentu. Jika sekeping uang logam ditos, akan muncul muka angka (A) atau muka gambar (G). Pada pengetosan tersebut, A dan G dinamakan G titik sampel, sedangkan {A,G} dinamakan ruang sampel. Jika sebuah dadu ditos, titik sampelnya adalah mata dadu 1, 2, 3, 4, 5, dan 6, sedangkan ruang sampelnya adalah {1, 2, 3, 4, 5, 6}. Himpunan dari semua hasil percobaan disebut ruang sampel dan dinotasikan dengan S. Himpunan bagian dari ruang sampel disebut kejadian pada ruang sampel atau sering disebut dengan kejadian saja. Sedangkan anggota-anggota dalam ruang sampel disebut titik sampel.</p>
    <h3>2.3. Frekuensi Harapan</h3>
    <p align="justify">Frekuensi harapan suatu kejadian ialah frekuensi yang diharapkan terjadinya kejadian tersebut selama n percobaan tersebut. Frekuensi harapan dirumuskan sebagai berikut.Frekuensi harapan dari sejumlah kejadian merupakan banyaknya kejadian dikalikan dengan peluang kejadian itu. Misalnya pada percobaan A dilakukan n kali, maka frekuensi harapannya ditulis sebagai berikut.</p>
    <center>
        <img src="https://rumusdasar.com/wp-content/uploads/2018/11/Pengertian-Rumus-Contoh-Soal-dan-Pembahasan-Frekuensi-Harapan.png", width="25%">
    </center>
    <p align="justify">Contoh :
    Di sebuah negara diketahui bahwa peluang orang dewasa yang terkena serangan jantung adalah 0,07 dan peluang terkena penyakit liver adalah 0,17. Jika sebanyak 25.000 orang dewasa di negara tersebut diperiksa, berapa orang dewasa terkena penyakit serangan jantung dan berapa orang yang terkena penyakit liver?</p>
    <p>Penyelesaian :</p>
    <p>Fh (orang terkena serangan jantung)	 	= 25.000 × 0,07 	= 1.750</p>
    <p>Fh (orang yang terkena penyakit liver)	= 25.000 x 0,17	= 4.250 </p>
    <h3>2.3. Frekuensi Relatif</h3>
    <center>
        <img src="https://www.berpendidikan.com/wp-content/uploads/2016/09/kejadian1.jpg", width="25%">
    </center>
    <p align="justify">Ketika kita melempar sebuah koin sebanyak 50 kali, kejadian munculnya muka gambar sebanyak 23 kali sehingga   23/50 = 0,46. Hasil peluang tersebut dinamakan frekuensi relatif muncul muka gambar. Jika pelemparan koin tersebut dilakukan berulang-ulang dalam frekuensi yang besar, frekuensi relatif kejadian muncul muka gambar akan mendekati suatu bilangan tertentu, yaitu  1/2.  Bilangan tersebut dinamakan peluang dari kejadian muncul angka. Dapat disimpulkan arti frekuensi relatif adalah perbandingan dari hasil dari munculnya suatu objek dibagi banyaknya percobaan suatu kejadian.</p>
    <h1 align="center">LATIHAN SOAL</h1>
    <p align="justify">1.	Joni melakukan pelemparan 3 koin seimbang dan menyingkirkan koin yang menghasilkan angka. Selanjutnya Pino melakukan pelemparan koin yang tersisa jika ada. Peluang Pino melakukan pelemparan koin dengan hasil tepat 1 angka adalah ?</p>
    <p align="justify">2.	Sebuah kantong berisi 6 kelereng merah, 4 kelereng biru, dan 5 kelereng hijau. Dari kantong tersebut akan diambil tiga kelereng sekaligus. Tentukan peluang yang diambil ketiganya kelereng hijau ;
    dan dua kelereng merah dan satu kelereng biru.
        </p>
    <p align="justify">3.	Dua buah dadu dilempar undi secara bersama-sama satu kali. Peluang muncul mata dadu berjumlah 5 atau 7 adalah ?</p>
    <p align="justify">4.	Di dalam sebuah kotak terdapat sembilan bola yang diberi nomor 1 sampai dengan 9. Diambil tiga bola satu-persatu tanpa pengembalian. Peluang bola pertama genap, bola ke-2 ganjil, dan bola ke-3 genap adalah ?</p>
    <p align="justify">5.	Sebuah keranjang berisi 7 bola kuning dan 4 bola hijau, Enam bola diambil sekaligus secara acak. Peluang terambil 4 bola kuning dan 2 bola hijau adalah ?</p>
    {% endblock %}