{% extends 'base.html' %}

{% block content %}

    <center>
        <h1>KAIDAH PENCACAHAN</h1>
        <h2>Materi</h2>
    </center>
    <h3>1.1. Kaidah Penjumlahan</h3>
    <p align="justify">Pada aturan penjumlahan bila suatu himpunan S terbagi ke dalam himpunan-himpunan bagian yaitu S1, S2, S3, ..., Sn, maka jumlah unsur yang berada di dalam himpunan S sama dengan jumlah semua unsur yang ada dalam setiap himpunan bagian dari S (Yuliatmoko & Sari, 2008). Hal ini dapat dirumuskan sebagai berikut.</p>
    <center>
        <p> S = S1 + S2 + S3 + ... + Sn</p>
        <p>P(A∪B)=P(A)+P(B)</p>
    </center>
    <p align="justify">Namun demikian prinsip di atas tidak berlaku jika ada diantara himpunan-himpunan bagian tersebut yang anggotanya saling tindih. Sebagai contoh aturan penjumlahan adalah bila kita bermaksud membeli handphone. Di toko, kita menemukan ada handphone merek A dengan 4 macam model, merek B dengan 3 macam model, dan merek C ada 5 macam model. Jadi kita akan membeli handphone di toko itu, maka kita memiliki 5 + 4 + 3 = 12 macam model handphone. Jadi banyak model handphone di toko itu ada 5 model A + 4 model B + 3 model C = 12 model. Aturan penjumlahan ditandai dengan kata “atau”. 
    </p>
    <h3>1.2. Kaidah Perkalian</h3>
    <p align="justify">Kaidah perkalian dapat dinotasikan sebagai berikut :</p>
    <center>
        <p>P(A∩B) = P(A) x P(B)</p>
    </center>
    <h4>1.2.1. Aturan Pengisian Tempat</h4>
    <p align="justify">Ketika kita melakukan sesuatu percobaan, semua kemungkinan yang terjadi dalam suatu percobaan. Kemungkinan tersebut muncul tak hanya satu, jika kemungkinan itu menghasilkan maka percobaan tersebut sudah pasti bukan kemungkinan lagi. Aturan perkalian ditandai dengan kata “dan”. Hal ini dapat lebih dipahami menggunakan contoh sebagai berikut :
        Seorang anak mempunyai 3 buah rok berwarna merah, hitam, dan biru. Anak tersebut memiliki 2 baju berwarna biru dan coklat Ada berapa pasangan baju dan rok yang dapat anak itu pakai dengan pasangan yang berbeda warna ?        
    </p>
    <center>
        <img src="https://i.pinimg.com/originals/3b/c7/d1/3bc7d1e69fd0159becec68d7e5dcf43b.jpg", width="25%">
    </center>
    <p align="justify">Penyelesaian :
        Pada gambar diketahui bahwa terdapat 2 macam warna rok yaitu hitam dan biru, sedangkan baju terdapat 3 macam warna yaitu ungu, biru, dan hijau.
        Cara menghitungnya dengan mengalikan jumlah baju dengan jumlah rok.
        Jadi, banyaknya pasangan rok dan baju secara bergantian sebanyak 3 × 2 = 6 cara.</p>
    <h4>1.2.2. Notasi Faktorial</h4>
    <p align="justify">Notasi faktorial merupakan notasi yang menggunakan faktorial. Apa itu faktorial ? Faktorial adalah hasil kali bilangan asli berurutan dari 1 sampai dengan n. Faktorial dilambangkan dengan tanda seru (!).
        Untuk setiap bilangan asli n, didefinisikan: 
        </p>
    <center>
        <p>n!  = n × (n – 1) × (n – 2) × … × 3 × 2 × 1</p>
        <p>lambang atau notasi n! dibaca sebagai n faktorial untuk n > 2.</p>
    </center>
    <p align="justify">Contoh :
        Di suatu taman bermain terdapat sepeda yang diberi tanda kombinasi dari empat huruf yaitu 1, 2, 3, dan 4. Setiap angka hanya digunakan sekali. Berapa banyak susunan angka yang dipakai sepeda tersebut ?
        Penyelesaian :
        Ratusan : 4 ; Puluhan : 3 ; Satuan : 2.
        Cara menghitungnya yaitu 4 x 3 x 2 = 24 cara.
Hal ini sama saja dengan 4!
Masukan pada rumus :
4!	= 4 x ( 4 − 1 ) x ( 4 − 2 ) x 1 
	= 4 x 3 x 2 x 1
	= 24 cara 
Jadi, ada 24 cara penyusunan angka untuk memberi tanda yang berbeda pada setiap sepeda.
        </p>
    <h3>1.3. Permutasi</h3>
    <p align="justify">Permutasi adalah urutan yang mungkin dari sejumlah unsur yang berbeda tanpa adanya pengulangan. Secara umum dapat diperoleh kesimpulan sebagai berikut. Banyaknya permutasi dari n unsur diambil r unsur dinotasikan:</p>
    <center>
        <p>P (n,r) = n (n – 1) (n – 2) (n – 3) … (n – r + 1)</p>
        <p>atau</p>
        <img src="https://idschool.net/wp-content/uploads/2017/11/Rumus-Permutasi-e1511431198748.png", width="25%">
    </center>
    <p align="justify">Contoh :
        Tentukan perrmutasi dari 5 unsur yang diambil 2 unsur ?</p>
        <p>Diketahui : n = 5 dan r = 2</p>
        <p>Ditanya : P (5,2) ?</p>
        <p>Jawab :</p>
        <p>P (n,r) = n!/(n – r)!</p>
        <p>P (5,2) = 5!/(5 – 2)!</p>
        <p>P (5,2) = 5!/3!</p>
        <p>P (5,2) = 5.4.3.2.1/3.2.1</p>
        <p>P (5,2) = 5.4</p>
        <p>P (5,2) = 20</p>
        <p>Jadi, perrmutasi dari 5 unsur yang diambil 2 unsur menghasilkan 20.</p>
    <h3>1.4. Permutasi Siklis</h3>
    <p align="justify">Ketika kita ingin menyusun tempat duduk secara melingkar, kita dapat menggunakan permutasi siklis untuk mengetahui berapa banyak susunan tempat duduk pada tempat duduk melingkar tersebut.</p>
    <center>
        <img src="https://docplayer.info/docs-images/60/45243866/images/57-0.png", width="25%">
    </center>
    <p align="justify">Permutasi siklis adalah permutasi yang cara menyusunnya melingkar, sehingga banyaknya menyusun n unsur yang berlainan dalam lingkaran. Hal ini dapat dirumuskan sebagai berikut :</p>
    <center>
    <p>P (Siklis) = (n-1)!</p>
    </center>
    <p align="justify">Contoh :
        SMA Negeri 8 Kota Tangerang akan melaksanakan acara yaitu perayaan Hari Kartini pada tanggal 21 April 2020, maka dibentuklah divisi acara untuk menyusun susunan acara pada hari perayaan. Divisi acara akan mengadakan suatu rapat yang dihadiri oleh 5 orang dengan posisi duduk mereka melingkar. Berapakah banyak susunan posisi duduk yang mungkin?</p>
    <p>Jawaban :</p>
    <p>Dapat diketahui bahwa nilai n yaitu 5, maka :</p>
    <p>P (Siklis) = (5-1)! = 4! = 4 .3 .2 .1 = 24 cara</p>
    <p>Jadi, susunan posisi duduk yang mungkin ada 24 cara.</p>
    <h3>1.5. Kombinasi</h3>
    <p align="justify">Kombinasi adalah suatu kumpulan unsur tanpa memperhatikan urutannya. Kombinasi r unsur dari r n unsur ialah himpunan bagian r unsur r yang dapat diambil dari n unsur yang berlainan dengan urutan penyusunan unsur tidak diperhatikan. Dari suatu himpunan dengan n anggota dapat dibentuk himpunan bagian dengan k unsur (untuk k < n). Setiap himpunan bagian yang terbentuk merupakan kombinasi k unsur dari n unsur. Banyak kombinasi k unsur dari n unsur sering dinotasikan dengan lambang C (n,k).
        Untuk menghitung banyak kombinasi k unsur dari n unsur yang tersedia dapat digunakan rumus :</p>
    <center>
        <img src="https://idschool.net/wp-content/uploads/2017/11/Rumus-Kombinasi-e1511431571332.png", width="25%">
    </center>
    <p align="justify">Contoh :
        Sebuah kantong memuat 5 bola merah, 3 bola hijau, dan 4 bola biru. Tiga bola diambil secara acak. Berapa banyak cara pengambilan bola jika bola yang terambil ketiganya berwarna merah ?</p>
    <p>Jawaban :</p>
    <p>Notasinya menjadi C (5,3)</p>
    <p align="justify">C (5,3) =  5!/3!(5-3)! = 5!/3!2! = (5 .4 .3. 2. 1)/(3.  2.  1 .  2.  1) = 120/12 = 10 Cara</p>
    <p>Jadi, terdapat 10 cara agar ketiganya mendapat bola berwarna merah.</p>
    <h2 align="center">LATIHAN SOAL</h2>
    <p align="justify">1.	Dalam suatu rapat pemilihan pengurus BEM FKIP yang terdiri atas 10 orang yang akan dipilih menjadi ketua, wakil ketua, bendahara, dan sekretaris. Banyaknya susunan pengurus BEM FKIP yang dapat dibentuk sebanyak ?</p>
    <p align="justify">2.	Ada 6 orang akan duduk mengelilingi sebuah meja bundar. Jika ada dua orang tertentu yang harus duduk bersebelahan berapa banyak cara orang tersebut dapat duduk ?</p>
    <p align="justify">3.	Dari 5 orang siswa akan dipilih 3 untuk mengikuti lomba karya tulis. Banyak cara memilih ketiga peserta tersebut adalah ?</p>
    <p align="justify">4.	Diketahui A = {9,7,6,5,4,3,2,1} Lima anggota A diambil secara acak. Peluang terambilnya lima anggota tersebut berjumlah genap adalah ?</p>
    <p align="justify">5.	Di dalam sebuah kotak terdapat m bola merah dan n bola putih dengan m+n = 16. Jika bola diambil dua bola sekaligus secara acak dari dalam kotak, maka peluang terambil dua bola tersebut berbeda warna adalah 12. Nilai dari m2+n2 adalah ?</p>
{% endblock %}